# Delphi build
*.dcu
*.exe

# Delphi local/temporary
*.dproj.local
*.identcache
*.stat
*.~*
*.dsk
*.dsv
__history/
__recovery/

# Build directories
Win32/
Win64/

# Firebird runtime
Executável/firebird.log